/*
    ████████████████████████████████████████████████████████████████████████████████████████████████████
    * Application: Cybotranik Site Template
    * https://cybotranik-site-template.gitlab.io/
    ════════════════════════════════════════════════════════════════════════════════════════════════════
    * Copyright azmisahin@outlook.com
    * Licence (https://azmisahin.gitlab.io/LICENSE)
    ████████████████████████████████████████████████████████████████████████████████████████████████████
*/


.carousel-item {
    height: 200px;
  }
  .album{
    background-color: #e9ecef;
  }
  .album-img {
    overflow: hidden;
    height: 200px;
    background-position-x: center !important;
    background-position-y: center !important;
    background-size: cover !important;
  }
  
  @media screen and (max-width: 575px) {
    .album-img {
      height: 200px;
    }
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
    footer p {
      margin-bottom: .25rem;
    }
  